{% extends 'user_navigation.html' %}
{% load static %}
{% block content %}



{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=("{% url 'logout' %}");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials,Try again');
</script>
{% endifequal %}


<div class="container mt-5">
<div class="row">
    
    <div class="col-sm-12">
        <h2 class="text-center">CHANGE PASSWORD</h2><hr>
        <form method="post">
            {% csrf_token %}

            <label > Old Password</label>
            <input type="password" class="form-control" placeholder="Enter Old Password" name="oldpwd" id="">

            <label > New Password</label>
            <input type="password" class="form-control" placeholder="Enter New Password" name="newpwd">

            <label > Confirm Password</label>
            <input type="password" class="form-control" placeholder="Renter New Password" name="confirmpwd">

           <center> <input type="submit" class="btn btn-danger text-white mt-3" value="SUBMIT"></center>
        </form>
    </div>
</div>
</div>

{% endblock %}